<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Parámetros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <div class="div-c">
          <form [formGroup]="nuevoParametroForm" (ngSubmit)="agregarParametro()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input formControlName="nombre"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Unidad de Medida</ion-label>
              <ion-input formControlName="unidad_medida" value="ºC"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Ícono (heart)
                <ion-button href="https://ionic.io/ionicons">
                  <ion-icon name="search"></ion-icon>
                </ion-button>
              </ion-label>
              <ion-input formControlName="icono"></ion-input>
            </ion-item>

            <ion-button expand="full" type="submit">
              <ion-icon name="add-circle"></ion-icon> Agregar Parámetro
            </ion-button>
          </form>
        </div>
      </ion-col>

      <ion-col class="div-c" size="12" size-lg="6">
        <ion-list>
          <ion-item *ngFor="let parametro of parametros" class="parametro-item">
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
              <h2>{{ parametro.nombre }}</h2>
              <p>Estado: {{ parametro.estado }}</p>
              <p>Unidad: {{ parametro.unidad_medida }}</p>
            </ion-label>
            <ion-button (click)="confirmarEliminacion(parametro.id_parametro)" color="danger" fill="clear">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
