<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Reportes médicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button-container">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="3">
            <ion-card-content (click)="mostrarEstadistica('pacientes')" class="estadistica-card paciente">
              <ion-icon name="person" slot="start" size="large"></ion-icon>
              Estadística de Pacientes
            </ion-card-content>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="3">
            <ion-card-content (click)="mostrarEstadistica('consultas')" class="estadistica-card consulta">
              <ion-icon name="file-tray-full" slot="start" size="large"></ion-icon>
              Estadística de Consultas
            </ion-card-content>
          </ion-col>
          
          <!-- Agrega más columnas aquí según sea necesario -->
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  


  <ng-container *ngIf="opcionSeleccionada === 'pacientes'">
    <app-reporte-ttl-pacientes></app-reporte-ttl-pacientes>
  </ng-container>

  <ng-container *ngIf="opcionSeleccionada === 'consultas'">
    <app-reporte-ttl-consultas></app-reporte-ttl-consultas>
  </ng-container>
</ion-content>
