<ion-card>
<ion-card-header>
  <ion-toolbar>
    <ion-card-title>Reporte de médicos en el sistema</ion-card-title>
  </ion-toolbar>
</ion-card-header>

<ion-card-content>
  <div class="estadisticas-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>Médicos Nuevos por Mes</h2>
          <div class="chart-container">
            <canvas baseChart
                [datasets]="[
                  {
                    data: conteoMedicosPorMes,
                    label: 'Total de nuevos médicos por mes',
                    backgroundColor: ['#4D9DE0', '#E15554', '#3BB273', '#7768AE', '#F7CB15', '#5D576B', '#6B4226', '#FF6F61', '#88B04B', '#92A8D1', '#034F84', '#F7786B'],
                    borderColor: '#333333',
                    borderWidth: 1
                  }
                ]"
                [labels]="meses"
                [options]="{ responsive: true, maintainAspectRatio: false }"
                type="line">
            </canvas>
          </div>
        </ion-col>
  
        <ion-col size="12">
          <h2>Total de médicos Nuevos por año</h2>
          <div class="chart-container">
            <canvas baseChart
                [datasets]="[
                  {
                    data: totalMedicosPorAnio,
                    label: 'Total de nuevos médicos por año',
                    backgroundColor: ['#008080', '#D2691E', '#FFD700', '#FF7F50', '#4682B4', '#6A5ACD', '#20B2AA', '#FF6347', '#708090', '#C71585', '#B0C4DE', '#32CD32'],
                    borderColor: '#333333',
                    borderWidth: 1
                  }
                ]"
                [labels]="anios"
                [options]="{ responsive: true, maintainAspectRatio: false }"
                type="line">
            </canvas>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="estadisticas-container">
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="6" class="section">
                <ion-grid class="estadisticas-tabla">
                  <h2 class="section-title">Datos por mes</h2>
                  
                    <ion-row class="header-row">
                      <ion-col size="3"><strong>Meses</strong></ion-col>
                      <ion-col size="3"><strong>Médicos nuevos</strong></ion-col>
                      <ion-col size="3"><strong>Total de médicos</strong></ion-col>
                      <ion-col size="3"><strong>Tasa de crecimiento mensual</strong></ion-col>
                    </ion-row>
                    <ion-row *ngFor="let estadistica of estadisticasPorMes" class="data-row">
                      <ion-col size="3">{{ estadistica.mes }}</ion-col>
                      <ion-col size="3">{{ estadistica.medicosNuevos }}</ion-col>
                      <ion-col size="3">{{ estadistica.totalMedicos }}</ion-col>
                      <ion-col size="3">{{ estadistica.tasaCrecimiento }}</ion-col>
                    </ion-row>
                  
                </ion-grid>
            </ion-col>

            <ion-col size="12" size-lg="6" class="section">
                <ion-grid class="estadisticas-tabla">
                    <h2 class="section-title">Datos por año</h2>
                    <ion-row class="header-row">
                      <ion-col size="3"><strong>Año</strong></ion-col>
                      <ion-col size="3"><strong>Médicos nuevos</strong></ion-col>
                      <ion-col size="3"><strong>Total de médicos</strong></ion-col>
                      <ion-col size="3"><strong>Tasa de crecimiento Anual</strong></ion-col>
                    </ion-row>
                    <ion-row *ngFor="let estadistica of estadisticasPorAnio" class="data-row">
                      <ion-col size="3">{{ estadistica.anio }}</ion-col>
                      <ion-col size="3">{{ estadistica.medicosNuevos }}</ion-col>
                      <ion-col size="3">{{ estadistica.totalMedicos }}</ion-col>
                      <ion-col size="3">{{ estadistica.tasaCrecimiento }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
  </div>

</ion-card-content>
</ion-card>